name: Experimenting EAS Android Build

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Build android app
        run: |
              eas build --local \
              --non-interactive \
              --output=./app-build \
              --platform=android
              --profile=preview

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-app
          path: ./app-build
